{
  "arrowParens": "always",
  "printWidth": 100,
  "jsxSingleQuote": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "all"
}
